alembic==0.9.2
aliyun-python-sdk-core==2.3.5
aliyun-python-sdk-ecs==4.0.0
aliyun-python-sdk-slb==2.1.2
celery==5.2.2
certifi==2017.7.27.1
chardet==3.0.4
click==6.7
coverage==4.4.1
Flask==0.12.2
Flask-HTTPAuth==3.2.3
Flask-Migrate==2.0.4
Flask-Script==2.0.5
Flask-SQLAlchemy==2.2
functools32==3.2.3.post2
idna==2.5
itsdangerous==0.24
Jinja2==2.9.6
jsonschema==2.6.0
json_schema_generator==0.3
Mako==1.0.6
MarkupSafe==1.0
MySQL-python==1.2.5
python-dateutil==2.6.0
requests==2.18.3
redis==2.10.6
six==1.10.0
SQLAlchemy==1.1.11
SQLAlchemy-Utils==0.32.16
taskflow==2.14.0
urllib3==1.22
Werkzeug==0.12.2
